.section-hero {
  background-color: antiquewhite;
  padding: 9.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-style: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: black;
  font-size: 2rem;
  color: antiquewhite;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
  background-color: rgb(80, 45, 2);
  color: rgb(238, 248, 104);
}

.hero-img {
  width: 100%;
}
